:root{
    --primary : green;
}

.app-logo{
    height: 100%;
}

body{
    margin: 0;
}

.app-nav{
    background-color: rgb(128, 128, 128);
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-input
{
    background: transparent;
    width: 300px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
    margin-bottom: 20px;
}

.label{
    color: #FFF;
    font-style: normal;
    line-height: normal;
}

.label-big
{
    font-size: 2.2rem;
    font-weight: 700;
}

.label-small
{
    font-size: 1.2rem;
    font-weight: 300;
}

.btn-primary
{
    border-radius: 4px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #FFF;
    color: #5792C9;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}
