div[data-squareid] > div > div[data-testid^='b'] > svg > g > svg > g {
    /*SOLVES BUG WHERE BLACK PIECES BECOME WHITE*/
    fill: unset !important;
}

.game-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #252525;
}

.undo-button {
    margin-top: 10px;
    padding: 5px 18px;
    border-radius: 3px;
    background-color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}

.undo-button:hover {
    scale: 1.1;
}

.human-vs-human-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.check {
    box-shadow: inset 0 0 1px 4px rgb(255, 0, 0);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
